.cover-text{
    text-shadow: 2px  2px black;
}
.cover-text:hover{
    text-shadow:  0 0 25px rgb(74, 74, 238), 0 0 5px rgb(176, 176, 218);
}
.my-btn:hover{
    background-color:rgb(209, 209, 248) ;
    color: black;
    border: none;
}
.nav-text:hover{
  
    font-weight: bold;
}
.section-client{
    margin-bottom: 29em;
}

.cover {
    width: 100%;
    height: 55vmin;
    background: url("image/cover.jpg");
    background-position: -39rem -29rem;
    background-size: 120%;
   
    position: relative;
  }
  
  .cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 509;
  }
  
  .cover .content {
    width: 100%;
    height: 100%;
    background: rgba(36, 35, 35, 0.7);
    padding-top:3em;
  }
  
  .cover .content  h1 {
    font-size: 30px;
    color: whitesmoke;
  }
   
  
  .numbers .rect {
    position: relative;
   
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 12px;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 20px 0px rgba(65, 68, 75, 0.349);
  }
  
  .numbers {
    margin-top: -15vh;
  }
  
  .numbers .rect h1 {
    font-size: 5rem;
    color: rgba(4, 5, 90, 0.644);
  }
  
  .numbers .rect  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
 
  